table, th, td {
   border: 1px solid black;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
P { text-align: center }
H2 { text-align: center }
H3 { text-align: center }
H1 { text-align: center }
p {
    font-family: "Arial Verdana", Sans-serif;
}
body { 
    background: url(http://www.siteworx.ie/images/pageBG.png) repeat 0 0;
}
